@model CompanyAssetsUI.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<span class="display-4 text-info">Edit</span><span> Supplier</span>
<div>
    <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierID" />
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierDescription" class="control-label"></label>
                <input asp-for="SupplierDescription" class="form-control" />
                <span asp-validation-for="SupplierDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierEmail" class="control-label"></label>
                <input asp-for="SupplierEmail" class="form-control" />
                <span asp-validation-for="SupplierEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierContactFirstName" class="control-label"></label>
                <input asp-for="SupplierContactFirstName" class="form-control" />
                <span asp-validation-for="SupplierContactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierContactLastName" class="control-label"></label>
                <input asp-for="SupplierContactLastName" class="form-control" />
                <span asp-validation-for="SupplierContactLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierContactEmail" class="control-label"></label>
                <input asp-for="SupplierContactEmail" class="form-control" />
                <span asp-validation-for="SupplierContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierCity" class="control-label"></label>
                <input asp-for="SupplierCity" class="form-control" />
                <span asp-validation-for="SupplierCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label"></label>
                <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryID"></select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierAddress" class="control-label"></label>
                <input asp-for="SupplierAddress" class="form-control" />
                <span asp-validation-for="SupplierAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SupplierActive" /> @Html.DisplayNameFor(model => model.SupplierActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success btn-sm" />&nbsp;
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
