<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company Assets</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.superhero.css" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/b1425553f1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/robotarm-icon-64.png" class="logo" height="48" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link text-light" data-toggle="dropdown"><i class="fas fa-dolly"></i> Purchase</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-light" asp-area="" asp-controller="Catalogues" asp-action="Index">Catalogue</a>
                                <a class="nav-link text-light" asp-area="" asp-controller="Replacements" asp-action="Index">Replacements</a>
                                <a class="nav-link text-light" asp-area="" asp-controller="Reports" asp-action="PurchaseList">Purchase lists</a>
                            </div>

                        </div>

                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link text-light" data-toggle="dropdown"><i class="fas fa-oil-can"></i> Manage</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Offices" asp-action="Index">Offices</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Depreciations" asp-action="Index">Depreciations</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link text-light" data-toggle="dropdown"><i class="fas fa-user-astronaut"></i> Admin</a>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header text-light" data-toggle="dropdown"><i class="fas fa-eye-slash"></i> <b>Deactivated items</b></h6>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Assets" asp-action="Deactivated">Assets</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Currencies" asp-action="Deactivated">Currencies</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Deactivated">Categories</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Offices" asp-action="Deactivated">Offices</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Suppliers" asp-action="Deactivated">Suppliers</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Depreciations" asp-action="Deactivated">Depreciations</a>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reports" asp-action="Index"><i class="fas fa-file-alt"></i> Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Docs"><i class="fas fa-graduation-cap"></i> Docs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-secret"></i> Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CompanyAssetsUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b1425553f1.js" crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-table.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
