@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">MB Megacorp</h1>
    <h1 class="text-secondary">Company assets</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p><img src="/Images/IMG_7838-Edit.jpg" alt="Photo by Mirza Buljusmic" height="600"/></p>
</div>
