@model CompanyAssetsUI.Models.Office

@{
    ViewData["Title"] = "Edit";
}

<span class="display-4 text-info">Edit</span><span> asset</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OfficeID" />
            <div class="form-group">
                <label asp-for="OfficeName" class="control-label"></label>
                <input asp-for="OfficeName" class="form-control" />
                <span asp-validation-for="OfficeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeDescription" class="control-label"></label>
                <input asp-for="OfficeDescription" class="form-control" />
                <span asp-validation-for="OfficeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label"></label>
                <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryID"></select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyID" class="control-label"></label>
                <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyID"></select>
                <span asp-validation-for="CurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OfficeActive" /> @Html.DisplayNameFor(model => model.OfficeActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-info btn-ms" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
